.header_show{
  position: relative;
  z-index: 1231;
}

.header_hide{
  position: relative;
  z-index: 1;
}

.menu_hide{
  /*display: none;*/
  height: 70px;
  width: 100%;
  background-color: transparent;
  position: fixed;
  z-index: 1000;
  transition: all 1s ease;
}

.menu_show{
  height: 70px;
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 1230;
  transition: all 1s ease;
}

.nav_hide{
  display: none;
  transition: all 0.3s ease;
}

header{
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

.markup-header-logo{
  width: 21%;
}

.markup-header{
  background-image: url("../img/header.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 900px;
  padding-top: 260px;
}

.markup-header-opacity{
  background-color:rgba(67,104,112,0.7); /* rgbA */
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 20px;
}

.markup-header-text{
  font-family: 'DINPro-Cond';
  text-align: center;
  color: white;
  font-size: 45px;
  line-height: normal;
}

.jump-line{
  display: block;
}

.container-component{
  padding-left: 10%;
  padding-right: 10%;
}

.img-component{
  text-align: center;
  padding-top: 4%;
  padding-bottom: 3%;
}

.img-component img{
  width: 40%;
}

.line-component{
  padding-left: 8%;
  padding-right: 8%;
}

.line{
  background-color: #436870;
  height: 1px;
}

.title-component{
  text-align: center;
  padding-top: 6%;
  padding-bottom: 5%;
}

.h1-component{
  font-size: 60px;
  color: #436870;
}

.about-component{
  padding-bottom: 3%;
}

.socio-component-jose{
  padding-right: 80px;
  color: #424242;
  font-family: 'DINPro-Cond'
}

.line-component-xs{
  display: none;
}

.line-xs{
  display: none;
}

.socio-component-rodrigo{
  padding-left: 80px;
  color: #424242;
  font-family: 'DINPro-Cond'
}

.title-text{
  font-weight: bold;
  font-size: 45px;
}

.socio-text-rol{
  font-size: 30px;
}

.socio-text-description{
  text-align: justify;
  font-size: 28px;
}

.socio-text-contact{
  font-size: 26px;
}

.services-component{
  color: #424242;
  font-family: 'DINPro-Cond';
  padding-bottom: 100px;
}

.services-text{
  font-size: 26px;
}

.container-services{
  text-align: center;
}

footer{
  color: white;
  font-family: 'DINPro-Cond';
  background-color: #436870;
  z-index: -10;
}

.footer-redes{
  text-align: center;
  padding-top: 80px;
}

.img-redes{
  height: 70px;
}

.footer-contact{
  text-align: left;
  padding-left: 100px;
}

.footer-contact-text{
  font-size: 25px;
  font-weight: bold;
}

.footer-page-container{
  text-align: center;
}

.footer-page{
  font-size: 20px;
}

.container-top {
  position: relative;
}
 
.container-top img {
  position: absolute;
  width: 160px;
  top: -82px; 
  left: 44%;
  z-index: 10;
  cursor: pointer;
}

/* ------------------------------------ */

@font-face
{
  font-family: "DINPro-Cond";
  src: url("../DINPRO/DINPro-Cond.otf");
}

@font-face
{
  font-family: "DINPro-CondBold";
  src: url("../DINPRO/DINPro-CondBold.otf");
}

h1
{
  font-family: "DINPro-CondBold";
}

/* ------------------------------------ */

/*Opciones para pantallas inferiores a 768px*/
@media screen and (max-width: 768px) {
  header{
    padding-top: 4%;
    padding-bottom: 4%;
  }

  .markup-header-logo{
    width: 40%;
  }

  .markup-header{
    height: 450px;
    padding-top: 70px;
  }

  .markup-header-opacity{
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 2px;
  }

  .markup-header-text{
    font-size: 30px;
    /*color: red;*/
    /*font-weight: bold;*/
  }

  .jump-line{
    display: block;
  }

  .container-component{
    padding-left: 10%;
    padding-right: 10%;
  }

  .img-component img{
    width: 60%;
  }

  .h1-component{
    font-size: 50px;
  }

  .socio-component-jose{
    padding-right: 20px;
  }

  .line-component-xs{
    padding-left: 8%;
    padding-right: 8%;
    display: block;
  }

  .line-xs{
    background-color: #436870;
    height: 1px;
    display: block;
  }

  .socio-component-rodrigo{
    padding-left: 15px;
  }

  .title-text{
    font-size: 30px;
  }

  .socio-text-rol{
    font-size: 25px;
  }

  .socio-text-description{
    font-size: 25px;
  }

  .socio-text-contact{
    font-size: 25px;
  }

  .services-text{
    font-size: 25px;
  }

  .footer-contact{
    text-align: center;
    padding-left: 15px;
  }

  .footer-page{
    font-size: 20px;
  }
   
  .container-top img {
    position: absolute;
    width: 160px;
    top: -82px; 
    left: 40%;
    z-index: 1;
  }
}

/*Opciones para pantallas inferiores a 480px*/
@media screen and (max-width: 480px){
  header{
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .markup-header-logo{
    width: 50%;
  }

  .markup-header{
    height: 250px;
    padding-top: 35px;
  }

  .markup-header-opacity{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 2px;
  }

  .markup-header-text{
    font-size: 16px;
    /*font-weight: bold;*/
  }

  .jump-line{
    display: none;
  }

  .container-component{
    padding-left: 10%;
    padding-right: 10%;
  }

  .img-component img{
    width: 80%;
  }

  .h1-component{
    font-size: 30px;
  }

  .socio-component-jose{
    padding-right: 20px;
  }

  .line-component-xs{
    padding-left: 8%;
    padding-right: 8%;
    display: block;
  }

  .line-xs{
    background-color: #436870;
    height: 1px;
    display: block;
  }

  .socio-component-rodrigo{
    padding-left: 15px;
  }

  .title-text{
    font-size: 30px;
  }

  .socio-text-rol{
    font-size: 25px;
  }

  .socio-text-description{
    font-size: 25px;
  }

  .socio-text-contact{
    font-size: 25px;
  }

  .services-text{
    font-size: 20px;
  }

  .footer-contact{
    text-align: center;
    padding-left: 15px;
  }

  .footer-page{
    font-size: 20px;
  }
   
  .container-top img {
    position: absolute;
    width: 160px;
    top: -82px; 
    left: 28%;
    z-index: 1;
  }
}